@import url('https://fonts.googleapis.com/css?family=Monoton|Montserrat&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Monoton', cursive; */

* {
  box-sizing: border-box;
}

html {
  background-color: #56b880;
  color: rgb(33, 43, 54);
  font-family: 'Montserrat', sans-serif;
}

h1, h2, h3, h4 {
  font-family: 'Monoton', cursive;
}

body {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  text-align: center;
  line-height: 1.5;
}

header {
  padding: 45px 15px;
}

li {
  list-style: none;
}


@media only screen and (min-width: 480px) {

}

@media only screen and (min-width: 1024px) {

}